*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: white;
}

.profile{
    width : 50px;
    height : 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
}

#search{
    padding-left: 500px;
}

/* start of navbar */

.header{
    position: sticky;
    background-color: white;
    border-bottom: 1px solid #eee;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
    font-size: 12px;
    bottom: 0.667px;
    font-family: Roboto;
    z-index: 10;
}

.divbstar-header-left {
    position: absolute;
    display: inline-flex;
    top: 24px;
    left: 16px;
    right: 19.332;
    bottom: 4px;
    align-items: flex-start;
    gap: 16px;
}

.link-image {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.button-icon{
    width: 87.333px;
    height: 16px;
    cursor:pointer;
}

.watch-later {
    position: absolute;
    top: 26px;
    bottom: 24px;
    left: 300.663px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 14px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.80);
}
.trending {
    position: absolute;
    top: 26px;
    bottom: 24px;
    left: 166.666px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 44px;
    height: 14px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.80);
}

.cari {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 17.332px;
    height: 10.666px;
    border: 0;
    outline: 0;
    background-color: transparent;
    flex: 1;
    overflow: hidden;
    flex-direction: row;
    font-family: Roboto;
    font-size: 11px;
    color: #000000;
    min-width: 250px;
}

.divplaceholder {
    position: absolute;
    width: calc(100% - 32.664px);
    top: 1.333px;
    right: 16.664px;
    left: 6px;
    height: 10.666px;
    overflow: hidden;
}

.input {
    position: absolute;
    width: calc(100% - 49.333px);
    top: 6.666px;
    right: 48.664px;
    left: 0.666px;
    background-color: #fff;
    border-right: 1px solid rgba(153, 153, 153, 0.3);
    box-sizing: border-box;
    height: 13.332px;
}
.divbstar-header-search-bar-b-icon {
    position: absolute;
    width: calc(100% - 350.663px);
    top: 0.666px;
    right: 0.666px;
    left: 448px;
    max-width: 100%;
    overflow: hidden;
    height: 25.332px;
    cursor: pointer;
}
.divbstar-header-search-bar {
    position: absolute;
    width: calc(100% - 881.333px);
    top: 18.664px;
    right: 97.333px;
    left: 784px;
    border-radius: 13.332px;
    border: 1px solid rgba(153, 153, 153, 0.3);
    box-sizing: border-box;
    height: 26.664px;
    overflow: hidden;
    font-size: 9.332px;
    color: #999;
}
.div-icon {
    position: absolute;
    top: calc(50% - 10.666px);
    left: 335px;
    width: 29.332px;
    height: 21.332px;
}
.image-icon4 {
    position: absolute;
    top: calc(50% - 9.332px);
    left: 300px;
    width: 19.332px;
    height: 19.332px;
    overflow: hidden;
}

.divbstar-header-actions {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0px;
    right: 13.313px;
    bottom: 0px;
    left: 1100px;
    cursor: pointer;
}

.categories {
    position: absolute;
    top: 26px;
    bottom: 24px;
    left: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52px;
    height: 14px;
    cursor: pointer;
    font-size: 16;
    color: rgba(0, 0, 0, 0.80);
}

.navbar-link{
    color: black;
    text-decoration: none;
}

.navbar-link:active{
    color: black;
    text-decoration: none;
}

.navbar-link:hover{
    color:rgb(58, 169, 132);
    text-decoration: none;
}

.navbar-link:visited{
    color: black;
    text-decoration: none;
}

.navbar-link:visited:hover{
    color:rgb(58, 169, 132);
    text-decoration: none;
}

/* end of navbar */

.main-card-div{
    position: relative;
    text-align: center;
    color: white;
    margin : 0;
}

.main-card{
    width: 100%;
    height: 100%;
    display: inline;
}

#main-text{
    bottom: 150px;
    left: 40px;
    font-size: 30px;
    color: white;
    position: absolute;
    font-weight: bolder;
    /* background-color: #e50001; */
}

#main-thumb-up{
    bottom: 125px;
    left: 40px;
    position: absolute;
    color: white;
}

#main-thumb-down{
    bottom: 125px;
    left: 120px;
    position: absolute;
    color: white;
}

#main-up-num{
    font-size: 15px;
    bottom: 128px;
    left: 70px;
    position: absolute;
    color: white;
}

#main-down-num{
    font-size: 15px;
    bottom: 128px;
    left: 150px;
    position: absolute;
    color: white;
}

/* transisi for you text */

#for-you-text{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left : 26px;
    height: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
}



/* dibawah buat movie card yg banyak ada 8 diatas show more */



.for-you-vid {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.vids {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 200px;
    width: 320px;
    border-radius: 8px;
    /* margin: 25px; */
}

.thumbnail {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: -1;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent 60%);
    opacity: 0;
}

.info-container:hover {
    opacity: 1;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 16px 18px 16px 18px;
    color: white;
    font-size: 15px;
}

.views-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    gap: 15px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.icon {
    height: 15px;
    width: 15px;
}

.video-title{
    font-weight: bolder;
}

#showmore-text{
    font-size: 20px;
}

.rec-show-more img {
    height: 30px;
    width: 30px;
}

#line-for-more{
    position: absolute;
    color: black;
    height: 10px;
}

#v-down{
    font-size: 24px;
    font-weight: normal;
    display: inline;
    color: black;
}

/* dibawah bagian trending */
.trending-div{
    display: inline;
}

.trending-text{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left : 26px;
}

/* auto moving image */
.slideshow-container {
    position: relative;
    top: 25px;
    margin: auto;
}

.active {
background-color: #717171;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}

/* top 5 movie n show */
.the-top-cards{
    display: flex;
    padding-top: 10px;
}

#top5-text{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left : 26px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-card{
    width: 239px;
    height: 365px;
    margin: 10px 25px 10px 25px;
    border-radius: 5px;
}

.top-card:hover{
    box-shadow: -1px -1px 30px;
}

/* recently added */
#recently-added-text{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left : 26px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recommend-vids {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    row-gap: 45px;
    flex-wrap: wrap;
    overflow: hidden;
    height: 490px;
    padding-bottom: 0px;
    width: 100%;
}

.rec-show-more {
    position: absolute;
    bottom: 0px;
    background-color: #EDEDED;
    height: 35px;
    width: 350px;
    margin-top: 35px;
    border: 1px solid;
    border-radius: 80px;
    border-color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.rec-show-more img {
    height: 30px;
    width: 30px;
}