@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.bagian-kiri{
    position:fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 51%;
    overflow: hidden;
}

#img_kiri{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* width: 100%;
    height: 100%; */
}

.bagian-kanan{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 49%;
    overflow: hidden;
    background-color: white;

}

#title_Welcome{
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 67px;
    font-family: "Marko One", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(64, 123, 201 , 1);
}

#title_plsLogin{
    position: relative;
    top: 9px;
    left: 78px;
    color: rgb(115, 107, 107 , 1);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.container{
    position: absolute;
    color: rgb(0, 0, 0 , 1);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: larger;
    /* background-color:yellow; */
    top: 228px;
    left: 70px;
    padding: 25px;
    width: 75%;
    height: 350px;
}

#labelEmail{
    position: relative;
    left: 28px;
}

#balokBiru-email{
    position: absolute;
    background-color: rgb(113,182,232,1);
    top: 52.9px;
    left: 65px;
    height: 43px;
    width: 10px;
}

input[type="email"]{
    position: relative;
    font-size: large;
    padding: 10px;
    left: 50px;
    top: 4px;
    background-color: rgb(187, 212, 230 , 1);
    height: 43.5px;
    width: 450px;
    border-color: transparent;
    border: none;
}

input:focus[type="email"], textarea:focus{
    outline: none;
    border-color: transparent;
}


#labelPw{
    position: relative;
    top: 18px;
    left: 28px;
}

#balokBiru-Pw{
    position: absolute;
    background-color: rgb(113,182,232,1);
    height: 43px;
    width: 10px;
    top: 137.66px;
    left: 65px
}

input[type="password"]{
    position:relative;
    font-size: large;
    padding: 10px;
    top: 22px;
    left: 50px;
    background-color: rgb(187, 212, 230 , 1);
    height: 43.5px;
    width: 450px;
    border-color: transparent;
    border: none;
}

input:focus[type="password"], textarea:focus{
    outline: none;
    border-color: transparent;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 37px;
    height: 37px;
    border: 2px;
    background-color: rgb(217, 217, 217, 1);
    /* border-radius: 5px; */
    outline: none;
    cursor: pointer;
    position: relative;
    top: 71px;
    left: 38px;
}

input[type="checkbox"]:checked::before {
    content: "\2713";
    position: absolute;
    left: 1px;
    top: -15px;
    font-size: 47px;
    color: #000000;
}

#labelRemember{
    position: relative;
    top: 55px;
    left: 44px;
}

#forgotPw{
    position: relative;
    top: 55px;
    left: 190px;
}

.error{
    position: absolute;
    top: 198px;
    left: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

button[type="submit"] {
    position: relative;
    top: 81px;
    left: 32px;
    background: linear-gradient(to top, rgb(59,155,239,1) 90%, #96c9ff);
    color: white; 
    border: none;
    height:54px;
    width:500px;
    border-radius: 12px;
    cursor: pointer;
    font-size: larger;
    font-weight:normal;
}

button[type="submit"]:hover {
    /* background-color: ; */
    background: linear-gradient(to top, rgb(50,137,238,1) 88%, #9ecdff);
}

#loginWith{
    position: relative;
    top: 90px;
    left: 223px;
    font-size: large;
}

#google{
    position: relative;
    width: 72px;
    height: 72px;
    background-color: rgb(159, 159, 159 , 0.6);
    top: 120px;
    left: 242px;
}

#googleimg{
    width: 72px;
    height: 72px;
}

#DHA{
    position: relative;
    top: 132px;
    left: 147px;
    font-size: large;
}

#SignUpLink{
    position: relative;
    top: 131px;
    left: 149px;
    font-size: large;
    color: rgb(119,150,188,1    );
}
